h2 {
  position: relative;
  left: 50px;
  top: 20px;
}

a{
  position: relative;
  left: 50px;
  top: 20px;
}

.return-back {
  display: inline-flex;
  gap: 20px;
  padding-left: 20px;
}

.photo {
  width: 15%;
  display: inline-flex;
  padding-left: 20px;
  padding-bottom: 10px;
  flex-direction: column;
}

