<div class="product" *ngFor="let product of items">
  <img [src]="product.image" alt="Image of product">
  <h3>{{product.name}}</h3>

  <p *ngIf="product.description">Description: {{product.description}}</p>

  <p>Rating: {{product.rating}} / 5</p>

  <button type="button" (click)="comeIn(product)">
    In Kaspi.kz
  </button>

  <button type="button" (click)="share(product)">
    Share with...
  </button>
  <button class="like" (click)="like(product)"> Likes: {{product.like}}</button>

  <button (click)="remove(product)">Remove</button>
</div>
